body {
    font-family: JetBrainsMono-Regular, sans-serif;
    background-image: url(../img/7.jpg);
    font-weight: 500;
    font-size: 0.85rem;
    --color-link: #fff;
}

.screen {
	text-transform: uppercase;
}

.content__title {
    font-family: LexendTera-Regular;
    font-size: 8vw;
    font-weight: 900;
}

.content__credits {
    font-family: JetBrainsMono-Regular;
    color: var(--color-link);
}

.intro{
    font-family: LexendTera-Regular;
}
@font-face {
    font-family: 'LexendTera-Regular';
    src: url('../fonts/LexendTera-Regular.ttf') format('truetype'),
    url('../fonts/LexendTera-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('../fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('../fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section{
    background-color: teal;
    color: white;
    font-family: helvetica;
    text-transform: uppercase;
    overflow-x: hidden;
div{
    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
.news-message{
    display : flex;
    flex-shrink: 0;
    height: 50px;
    align-items: center;
    animation: slide-left 20s linear infinite;
p{
    font-size: 2.5em;
    font-weight: 100;
    padding-left: 0.5em;
}
@keyframes slide-left {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
}
}
}




