body {
    font-family: JetBrainsMono-Regular, sans-serif;
    background-image: url(../img/7.jpg);
    font-weight: 500;
    font-size: 0.85rem;
    --color-link: #fff;
}

.screen {
	text-transform: uppercase;
}

.content__title {
    font-family: LexendTera-Regular;
    font-size: 8vw;
    font-weight: 900;
}

.content__credits {
    font-family: JetBrainsMono-Regular;
    color: var(--color-link);
}

.intro{
    font-family: LexendTera-Regular;
}
@font-face {
    font-family: 'LexendTera-Regular';
    src: url('../fonts/LexendTera-Regular.ttf') format('truetype'),
    url('../fonts/LexendTera-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('../fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('../fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    color: white;
    font-family: JetBrainsMono-Regular;
    text-transform: uppercase;
    overflow-x: hidden;
}
section div {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
}
section div .news-message {
    display: flex;
    flex-shrink: 0;
    height: 50px;
    align-items: center;
    animation: slide-left 25s linear infinite;
}
section div .news-message p {
    font-size: 1.0em;
    font-weight: 100;
    padding-left: 0.5em;
}
@keyframes slide-left {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}




