body {
    font-family: JetBrainsMono-Regular, sans-serif;
    background-image: url(../img/7.jpg);
    font-weight: 500;
    font-size: 0.85rem;
    --color-link: #fff;
}

.screen {
	text-transform: uppercase;
}

.content__title {
    font-family: LexendTera-Regular;
    font-size: 8vw;
    font-weight: 900;
}

.content__credits {
    font-family: JetBrainsMono-Regular;
    color: var(--color-link);
}

.intro{
    font-family: LexendTera-Regular;
}
@font-face {
    font-family: 'LexendTera-Regular';
    src: url('../fonts/LexendTera-Regular.ttf') format('truetype'),
    url('../fonts/LexendTera-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('../fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('../fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






.btn:before{
box-shadow: 0 0 0 1px white;
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 0;
box-shadow: 0 0 0 1px #191a1b;
border-radius: .05rem;
transition: transform 150ms ease-out;
}

.btn::after {
    box-shadow: 0 0 0 1px white;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    box-shadow: 0 0 0 1px #191a1b;
    border-radius: .05rem;
    transition: transform 150ms ease-out;
}






